body{
background: rgba(153, 113, 40,0.8) url(images/architecture-3121009__340.webp) ;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
background-blend-mode: darken;
display:flex;
justify-content: center;
margin: 0%;

}


.image{
    width:102.1% ;
    height:100% ;
    margin: -20px -20px -20px -20px ;
    display:block ;
    
}
.sign{
    background-color: white;
    width:100% ;
    height:90% ;
    margin-top: 11%;
    border-radius: 10px;
    
}
.text{
    padding: 50px;
    text-align: right;
}
.text img{
    
  width: 35%;
  height: 35%;
  float: left;
  margin: -250px 0px 20px 20px;
  
    
}
.text caption{
    font-size:x-large;
}
input{
    border-radius: 20px;
    width: 27%;
    height: 30px;
    background-color: rgb(212, 212, 212);
    border: none;
}
button{
    border: none;
    width: 200px; 
    padding-top: 5px;
    padding-bottom: 5px; 
    font-size:large; 
    color: white;
    margin-right: 25px;
 background-color: rgb(236, 216, 87);
 border-radius: 10px;
}

